# set the LITELLM URL
LITELLM_BASE_URL=
# set the LITELLM API key
LITELLM_API_KEY=

# specify LITELLM models
LITELLM_FAST_LLM=
LITELLM_SMART_LLM=
LITELLM_STRATEGIC_LLM=
LITELLM_EMBEDDING=

# set the LOCAL OLLAMA URL
OLLAMA_BASE_URL=

# specify LOCAL OLLAMA models
OLLAMA_FAST_LLM=
OLLAMA_SMART_LLM=
OLLAMA_STRATEGIC_LLM=
OLLAMA_EMBEDDING=

RETRIEVER=
FIRECRAWL_SERVER_URL=

# TAVILY_API_KEY=
DOC_PATH=
